<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7234304/pexels-photo-7234304.jpeg?auto=compress&cs=tinysrgb&w=800);">
  <h1>Lists</h1>
</div>

<div class="container">
  <%= link_to "Make a new list", new_list_path, class: "btn-link" %>
  <hr>

  <ul>
    <% @list.each do |list| %>
    <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drit3xkn8/image/upload/v1668228442/w2r9i3tqqpi0edddrxbh.jpg);">
      <li><%= link_to list.name, list_path(list), class: "secondary-link" %></li>
    </div>
      <% end %>
  </ul>
</div>

<%# <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>


<%# cl_image_tag("vlsyfab944xpkoww2ydw") %>
